.parallax {
  /* The image used */
  background-image: url("./../public/img1.png");

  /* Set a specific height */
  height: 50vh;
  max-width: 40vw;
  margin-left: 20%;
  margin-top: 15%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* background-position: absolute; */
  background-repeat: no-repeat;
  background-size: contain;
  /* position: fixed; */
  background-position-x: 10%;
  background-position-y: 10%;
}

.image {
  margin-left: 15vw !important;
  margin-top: 20vh !important;
  max-width: 30% !important;
  min-width: 30% !important;
  max-height: 50% !important;
  min-height: 50% !important;
  position: fixed !important;
  border-radius: 20px;
  filter: drop-shadow(30px 10px 4px black);
  /* z-index: -99; */
}

.text {
  /* position: fixed; */
  margin-left: 50vw;
  margin-top: -10vh;
}

.container {
  height: 115vh;
  /* margin-bottom: 15vh; */
}
